###1. Write a Python program to convert kilometers to miles?

In [5]:
def kmtom():
  km=int(input('Enter the kM: '))
  print("{} is Equal to {} miles".format(km,km*12))
kmtom()

Enter the kM: 1
1 is Equal to 12 miles

###2. Write a Python program to convert Celsius to Fahrenheit?

In [7]:
def cf():
  celsius = int(input("Enter the Celsius: "))
  print("{}째 Celsius is Equal to {}째 fahrenheit".format(celsius,celsius*(9/5)+32))
cf()

Enter the Celsius: 1
1째 Celsius is Equal to 33.8째 fahrenheit

###3. Write a Python program to display calendar?

In [30]:
from calendar import c
def acalendar():
  Year =int(input("Enter the Year: "))
  print(calendar.calendar(Year))
acalendar()

Enter the Year: 2024
                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

###4. Write a Python program to solve quadratic equation?

In [38]:
import cmath

a = int(input("Enter the A value: "))
b = int(input("Enter the B value: "))
c = int(input("Enter the C value: "))

discriminant = b*b-4*a*c

root1 = (-b-cmath.sqrt(discriminant))/(2*a)
root2 = (-b+cmath.sqrt(discriminant))/(2*a)

print("Ther root are", root1 ,"and", root2)

Enter the A value: 2
Enter the B value: 3
Enter the C value: 6
Ther root are (-0.75-1.5612494995995996j) and (-0.75+1.5612494995995996j)

###5. Write a Python program to swap two variables without temp variable?

In [47]:
num_1 = int(input('Enter first number: '))
num_2 = int(input('Enter second number: '))
print('Before Swapping',num_1,num_2)
num_1 = num_1+num_2
num_2 = num_1-num_2
num_1 = num_1-num_2
print('before Swapping',num_1,num_2)

Enter first number: 1
Enter second number: 2
Before Swapping 1 2
before Swapping 2 1